workspace/xinleju/src/main/java/com/xinleju/erp/thirdpart/oa/xinyuan/impl/SysUnityTodoService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/ekp/axis/SysUnityTodoService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/ekp/axis/SysUnityTodoService" xmlns:intf="http://localhost:8080/ekp/axis/SysUnityTodoService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="client.webservice.sys.kmss.landray.com" xmlns:tns2="http://interfaces.organization.sys.kmss.landray.com" xmlns:tns3="http://service.organization.sys.kmss.landray.com" xmlns:tns4="http://service.notify.sys.kmss.landray.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="client.webservice.sys.kmss.landray.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://service.organization.sys.kmss.landray.com"/>
   <import namespace="http://service.notify.sys.kmss.landray.com"/>
   <import namespace="http://interfaces.organization.sys.kmss.landray.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="NotifySendTodoContext">
    <sequence>
     <element name="appName" nillable="true" type="xsd:string"/>
     <element name="createTime" nillable="true" type="xsd:string"/>
     <element name="key1" nillable="true" type="xsd:string"/>
     <element name="key2" nillable="true" type="xsd:string"/>
     <element name="key3" nillable="true" type="xsd:string"/>
     <element name="link" nillable="true" type="xsd:string"/>
     <element name="modelId" nillable="true" type="xsd:string"/>
     <element name="modelName" nillable="true" type="xsd:string"/>
     <element name="notifyTarget" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="subject" nillable="true" type="xsd:string"/>
     <element name="targetType" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
     <element name="urgency" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="NotifyTodoAppResult">
    <sequence>
     <element name="calledType" nillable="true" type="xsd:string"/>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="returnState" nillable="true" type="xsd:short"/>
    </sequence>
   </complexType>
   <complexType name="NotifyDeleteTodoContext">
    <sequence>
     <element name="appName" nillable="true" type="xsd:string"/>
     <element name="key1" nillable="true" type="xsd:string"/>
     <element name="key2" nillable="true" type="xsd:string"/>
     <element name="key3" nillable="true" type="xsd:string"/>
     <element name="modelId" nillable="true" type="xsd:string"/>
     <element name="modelName" nillable="true" type="xsd:string"/>
     <element name="notifyTarget" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="targetType" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="NotifyDoneTodoContext">
    <sequence>
     <element name="appName" nillable="true" type="xsd:string"/>
     <element name="doneTime" nillable="true" type="xsd:string"/>
     <element name="key1" nillable="true" type="xsd:string"/>
     <element name="key2" nillable="true" type="xsd:string"/>
     <element name="key3" nillable="true" type="xsd:string"/>
     <element name="modelId" nillable="true" type="xsd:string"/>
     <element name="modelName" nillable="true" type="xsd:string"/>
     <element name="notifyTarget" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="targetType" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="setPersonsDoneResponse">

      <wsdl:part name="setPersonsDoneReturn" type="tns1:NotifyTodoAppResult"/>

   </wsdl:message>

   <wsdl:message name="setSysNotifyTodoServiceRequest">

      <wsdl:part name="sysNotifyTodoService" type="xsd:anyType"/>

   </wsdl:message>

   <wsdl:message name="setSysNotifyExternalSystemConfigServiceResponse">

   </wsdl:message>

   <wsdl:message name="setSysOrgCoreServiceResponse">

   </wsdl:message>

   <wsdl:message name="setSysOrgCoreServiceRequest">

      <wsdl:part name="sysOrgCoreService" type="xsd:anyType"/>

   </wsdl:message>

   <wsdl:message name="setSysNotifyTodoServiceResponse">

   </wsdl:message>

   <wsdl:message name="sendTodoRequest">

      <wsdl:part name="nstc" type="tns1:NotifySendTodoContext"/>

   </wsdl:message>

   <wsdl:message name="setPersonsDoneRequest">

      <wsdl:part name="nstc" type="tns1:NotifyDoneTodoContext"/>

   </wsdl:message>

   <wsdl:message name="setSysOrgElementServiceResponse">

   </wsdl:message>

   <wsdl:message name="deleteTodoResponse">

      <wsdl:part name="deleteTodoReturn" type="tns1:NotifyTodoAppResult"/>

   </wsdl:message>

   <wsdl:message name="setSysNotifyExternalSystemConfigServiceRequest">

      <wsdl:part name="sysNotifyExternalSystemConfigService" type="xsd:anyType"/>

   </wsdl:message>

   <wsdl:message name="setSysOrgElementServiceRequest">

      <wsdl:part name="sysOrgElementService" type="xsd:anyType"/>

   </wsdl:message>

   <wsdl:message name="deleteTodoRequest">

      <wsdl:part name="nstc" type="tns1:NotifyDeleteTodoContext"/>

   </wsdl:message>

   <wsdl:message name="sendTodoResponse">

      <wsdl:part name="sendTodoReturn" type="tns1:NotifyTodoAppResult"/>

   </wsdl:message>

   <wsdl:portType name="SysUnityTodoService">

      <wsdl:operation name="sendTodo" parameterOrder="nstc">

         <wsdl:input message="impl:sendTodoRequest" name="sendTodoRequest"/>

         <wsdl:output message="impl:sendTodoResponse" name="sendTodoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteTodo" parameterOrder="nstc">

         <wsdl:input message="impl:deleteTodoRequest" name="deleteTodoRequest"/>

         <wsdl:output message="impl:deleteTodoResponse" name="deleteTodoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setPersonsDone" parameterOrder="nstc">

         <wsdl:input message="impl:setPersonsDoneRequest" name="setPersonsDoneRequest"/>

         <wsdl:output message="impl:setPersonsDoneResponse" name="setPersonsDoneResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setSysOrgCoreService" parameterOrder="sysOrgCoreService">

         <wsdl:input message="impl:setSysOrgCoreServiceRequest" name="setSysOrgCoreServiceRequest"/>

         <wsdl:output message="impl:setSysOrgCoreServiceResponse" name="setSysOrgCoreServiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setSysOrgElementService" parameterOrder="sysOrgElementService">

         <wsdl:input message="impl:setSysOrgElementServiceRequest" name="setSysOrgElementServiceRequest"/>

         <wsdl:output message="impl:setSysOrgElementServiceResponse" name="setSysOrgElementServiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setSysNotifyTodoService" parameterOrder="sysNotifyTodoService">

         <wsdl:input message="impl:setSysNotifyTodoServiceRequest" name="setSysNotifyTodoServiceRequest"/>

         <wsdl:output message="impl:setSysNotifyTodoServiceResponse" name="setSysNotifyTodoServiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setSysNotifyExternalSystemConfigService" parameterOrder="sysNotifyExternalSystemConfigService">

         <wsdl:input message="impl:setSysNotifyExternalSystemConfigServiceRequest" name="setSysNotifyExternalSystemConfigServiceRequest"/>

         <wsdl:output message="impl:setSysNotifyExternalSystemConfigServiceResponse" name="setSysNotifyExternalSystemConfigServiceResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SysUnityTodoServiceSoapBinding" type="impl:SysUnityTodoService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendTodo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendTodoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/ekp/axis/SysUnityTodoService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="sendTodoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/ekp/axis/SysUnityTodoService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteTodo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteTodoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/ekp/axis/SysUnityTodoService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteTodoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/ekp/axis/SysUnityTodoService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setPersonsDone">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setPersonsDoneRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/ekp/axis/SysUnityTodoService" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setPersonsDoneResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/ekp/axis/SysUnityTodoService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setSysOrgCoreService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setSysOrgCoreServiceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.sys.kmss.landray.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setSysOrgCoreServiceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/ekp/axis/SysUnityTodoService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setSysOrgElementService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setSysOrgElementServiceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.sys.kmss.landray.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setSysOrgElementServiceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/ekp/axis/SysUnityTodoService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setSysNotifyTodoService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setSysNotifyTodoServiceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.sys.kmss.landray.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setSysNotifyTodoServiceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/ekp/axis/SysUnityTodoService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setSysNotifyExternalSystemConfigService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setSysNotifyExternalSystemConfigServiceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservice.sys.kmss.landray.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setSysNotifyExternalSystemConfigServiceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/ekp/axis/SysUnityTodoService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SysUnityTodoServiceService">

      <wsdl:port binding="impl:SysUnityTodoServiceSoapBinding" name="SysUnityTodoService">

         <wsdlsoap:address location="http://localhost:8080/ekp/axis/SysUnityTodoService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
